<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="helloSpring" class="com.oocl.castich.sw1.HelloSpringTest" scope="singleton">
   		<property name="message" value="Hey dude!"></property>
   </bean>
   
   
   <bean id="helloSpringInitTest" class="com.oocl.castich.sw1.HelloSpring_init_test" scope="singleton" init-method="init" destroy-method="destroy">
   		<property name="message" value="Hey dude! From Spring Test 2"></property>
   </bean>
   
</beans>